* {
    margin: 0px;
    padding: 0px;
}

.cabeçalho {
    margin: 20px 50px ;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(105, 45, 45);
    border-radius: 25px;
}


#logo-img{
    position: absolute;
    top: -2px;
    left: 55px;
    height: 120px;
    width: 100px;
}

.lista-menu {
    display: flex;
    list-style: none;
    margin-left: 150px;
}

.lista-menu-item {
    padding: 25px;
}

.lista-menu-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.719);
    font-size: 17px;
}

.lista-menu-link:hover {
    color: white;
}

.container-area-pesquisa {
    margin:5px;
    background-color: white;
    border-radius: 25px;
    width: 240px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.area-pesquisa {
    background-color: white;
    border:none;
    outline: none;
    border-radius: 25px;
    padding: 5px;
}

.img-area-pesquisa {
    height: 35px;
    
}

.container-icons {
    padding: 10px;
    margin: 5px;
}

.container-icons-itens {
    padding: 8px