
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

/* variáveis*/
:root {
    --fonte-menu:"Montserrat Alternates", sans-serif;
    --fonte-titulo: "Alex Brush", cursive;
    --fonte-padrao: 'Open Sans', 'Helvetica Neue', sans-serif;

    --marron:#875943;
    --marron-claro:#bca38a;
    --verde:#6d7557;

}


* {
    margin: 0px;
    padding: 0px;
}

/*-------------header---------*/
.cabeçalho {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: var(--verde)
}

#logo-img{
    width: 400px;
}

.lista-menu {
    display: flex;
    list-style: none;
}

.lista-menu-item {
    padding: 25px;
}

.lista-menu-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.719);
    font-size: 16px;
    font-family: var(--fonte-menu);
}

.lista-menu-link:hover {
    color: white;
}

/*---------capa---------*/

.capa {
    background-image: url(./imagens/img-capa-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--marron);
    width: 100%;
    height: 620px;
}

#img-logo-01 {
    width: 100px;
    height: 150px;
    position: absolute;
    right: 45%;
    top: 50%;  
    
}

/*------*/

.container01{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.titulo{
    margin: 55px;
    font-family: var(--fonte-titulo);
    font-size: 5.2em;
    color: #6d7557;
    text-align: center;

}

.texto {
    padding: 0 6%;
    font-family: var(--fonte-padrao);
    text-align: justify;
    line-height: 32px;
}

/*--- redes sociais---*/
.container-redes-sociais{
    display: flex;
    justify-content: center;
}

.redes-sociais {
    background-color: var(--verde);
    margin: 55px 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.imgs-redes-sociais {
    width: 25px;
    width: 25px;
}