
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

/* variáveis*/
:root {
    --fonte-menu:"Montserrat Alternates", sans-serif;
    --fonte-titulo: "Alex Brush", cursive;
    --fonte-padrao: 'Open Sans', 'Helvetica Neue', sans-serif;

    --marron:#875943;
    --marron-claro:#bca38a;
    --verde:#6d7557;

}


* {
    margin: 0px;
    padding: 0px;
}

/*-------------header---------*/
.cabeçalho {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: var(--verde)
}

#logo-img{
    width: 400px;
}

.lista-menu {
    display: flex;
    list-style: none;
}

.lista-menu-item {
    padding: 25px;
}

.lista-menu-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.719);
    font-size: 16px;
    font-family: var(--fonte-menu);
}

.lista-menu-link:hover {
    color: white;
}

/*---------capa---------*/

.capa {
    background-image: url(./imagens/img-capa-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--marron);
    width: 100%;
    height: 620px;
}

#img-logo-01 {
    width: 100px;
    height: 150px;
    position: absolute;
    right: 45%;
    top: 50%;  
    
}

/*------*/

.container01{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.titulo{
    margin: 55px;
    font-family: var(--fonte-titulo);
    font-size: 5.2em;
    color: #6d7557;
    text-align: center;

}

.texto {
    padding: 0 6%;
    font-family: var(--fonte-padrao);
    text-align: justify;
    line-height: 32px;
}

/*--- redes sociais---*/
.container-redes-sociais{
    display: flex;
    justify-content: center;
}

.redes-sociais {
    background-color: var(--verde);
    margin: 55px 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.imgs-redes-sociais {
    width: 25px;
    width: 25px;
}

.redes-sociais02 {
    margin: 50px 80px;
}

/*------*/
.container-opcoes-comida{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 60px;
}

.conteudo-opcoes-comidas {
    background-color: var(--marron);
    width: 232px;
    height: 350px;
    margin:32px;
    padding:6px;
}

.img-opcoes-comidas {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    position: absolute;
    top: -55px;
    
}


.comida-img-01{
    background-color: var(--verde);
    background-image: url(imagens/img-comida01.jpg);
    background-size: cover;
    left: 270px;
    
}

.conteudo-opcoes-comidas02 {
    background-color: var(--verde);
}

.comida-img-02{
    background-color: var(--verde);
    background-image: url(imagens/img-comida02.jpg);
    background-size: cover;
    left: 579px;
}

.conteudo-opcoes-comidas03 {
    background-color: var(--marron-claro);
}

.comida-img-03{
    background-color: var(--verde);
    background-image: url(imagens/img-comida03.jpg);
    background-size: cover;
    right: 270px;
}

.titulo-opcoes-comidas{
    margin-top: 105px;
    padding: 8px;
    text-align: center;
    font-size: 20px;
    color:white;
    font-family: var(--fonte-padrao);
}

.texto-opcoes-comidas{
    font-family:var(--fonte-padrao);
    color:beige;
    text-align: justify;
    padding: 20px 10px;
    font-size: 15px;
}

.link-sabe-mais {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.795);
    padding: 15px;
    font-size:14px;
}

.link-sabe-mais:hover {
    color: antiquewhite;
}

/* ----- banners ---- */

.container-banner-01{
    display: flex;
    margin: 60px 0px;
}

.img-banner-01{
    width: 50%;
    height: 100%;

}

.container-textos-banner {
    width: 50%;
    background-color: var(--marron);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: var(--fonte-padrao);
    color: antiquewhite;

}

.titulos-banner{
    color: antiquewhite;
    margin: 20px;
    font-size: 25px;
    font-family: var(--fonte-menu);

}

.textos-banner {
    padding: 0 40px;
    text-align: justify;
    font-size: 15px;
}

.link-banner {
    color: antiquewhite;
}

.link-banner:hover{
    color: black;
}

.container-banner-02 {
    display: flex;
    margin-top: 80px;
    padding: 60px 0;
}

.img-banner02{
    width: 33%;
}

.container-textos-banner-02 {
    background-color: var(--marron-claro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: var(--fonte-padrao);
    color: white;
}